
.cart-product-container {
    height: 100px;
    /* border: 1px solid #222; */
    display: flex;
    align-items: center;
}

.cart-product-container img {
    height: 90%;
    width: 100px;
    object-fit: cover;
    border-right: 1px solid #aaa;
    margin-top: 0px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,.2);
}

.cart-product-container .text-container {
    margin-left: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.cart-product-container .text-container .title {
    font-size: 1.5rem;
}

.cart-product-container .text-container .description {
    font-size: 0.75rem;
}


.cart-product-container .quantity-container {
    width: 25%;
}

.cart-product-container .remove-container {
    width: 20%;

}

.cart-product-container .remove-container button {
    border-radius: 0px !important;

}
.cart-product-container .remove-container button:hover {
    /* border-radius: 0px !important; */
    background-color: #ccc;
}
