


.cart-gridlist-item {
    width: 22%;
    /* min-height: 200px; */
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
    padding: 0px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    border-radius: 10px;
    margin: 10px 10px;
    overflow: hidden;
}

.cart-item-img {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;

}

.cart-item-quantity {
    margin-left: 15px !important;
}
.cart-item-icon {
    /* align-self: center; */
    margin-right: 15px !important;
    margin-bottom: 5px !important;
    border-radius: 10px !important;
}

.cart-item-title-text {
    
    text-align: center;
}

.cart-item-description-view {
    padding: 10px;
}

.cart-item-description-text {
    font-size: 0.75rem;
}

.cart-item-bottombar {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}   