

.cart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 95%;
    margin: 0px 15%;
    border: 1px solid;
}
.cart-container .cart-view {
    padding: 5% 0px;
    height: 100%;
}

.cart-container .cart-view .top {
    height: 10%;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #ccc;
    margin: 0px 5%;
    margin-bottom: 5px;
}
.cart-container .cart-view .top .title {
    font-size: 2rem;
}

.cart-container .cart-view .content {
    height: 80%;
    margin: 0px 5%;
}

.cart-container .cart-view .content .list {
    margin: 0px 5%;

}
.cart-container .cart-view .bottom {
    height: 10%;
    border: 1px solid blue;
    margin: 0px 5%;
}