.product-panel-image {
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    object-fit: cover;
    /* border: 1px solid; */
    margin: 0 auto;

}

.product-panel-title-text {
    /* text-align: center; */
    text-align: center;
    font-weight:bold;
}

.product-panel-description {
    margin: 10px;
}

.product-panel-description-text {
    text-align: center;
}

.gridlist-item {
    /* border: 3px solid; */
    border-radius: 25px;
    /* position: relative; */
    overflow: hidden;
    /* min-width: 200px; */
    padding: 0px;
    max-width: 23%;
    /* display: flex; */
    align-content: center;
    margin: 10px 10px;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);

}

.product-panel-bottom-bar {
    display: flex;
    /* flex: 1; */
    /* align-self: flex-start; */
    /* justify-self: flex-end; */
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    /* margin: 0 auto; */
    /* border: 1px solid; */
    min-height: 50px;
}

.product-panel-icon {
    margin: 0 auto;
    color: override #d50000 ;
    border: 1px solid;
}