.nav-container {
    flex-direction: row;
    display: flex;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 3.5rem;
}


.product-router-container {
    flex: 2;
    /* vertical-align: middle; */
}

.user-router-container {
    flex: 1;
}