
.user-orders-container {
    width: 75%;
    margin-left: 20px;
}

.user-orders-container .title {
    font-size: 2rem;
}

.user-orders-container .sort-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
}